*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 16px 0;
    background-color:#1f1041;;
    color: #f1f7f4;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
    
    
}
header:hover h1{
    color:#77ffc0;
    cursor: pointer;
    
    
}
header nav li a:hover{
    color: #77ffc0;
}
.color-fundo{
    background-color: azure;
}
.layout{
    display: grid;
    justify-content: center;
    font-family: 'Bungee', cursive;
    font-weight: normal;
    padding: 8px;
    
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    
}
header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

header nav li{
    display: inline; 
    margin-left: 16px;
    font-size: 18px;
    
}
header nav li a {
    color:#f1f7f4;
    text-decoration: none;
}
footer{
    background-color: #1f1041;
    color:#ecf0f1;
    padding: 16px; 
    align-items: center;
    
}
